.add_button {
	margin-bottom: 10px;
}

#task_table th{
	text-align: center;
}

#task_table th:nth-child(1),
#task_table th:nth-child(4) {
	width: 10%;
}

#task_table th:nth-child(2) {
	width: 60%;
}

#task_table td:nth-child(1),
#task_table td:nth-child(3),
#task_table td:nth-child(4),
#task_table td:nth-child(5) {
	text-align:center;
}

.action {
	margin-right: 15px;
}
