{% include 'tasks/base.html' %}

{% block title %}Tasks{% endblock %}

{% block body %}
    <div class="jumbotron">
		<h1 class="text-center">To Do List</h1>
	</div>
	<form method="post" id="task_form">
		{% csrf_token %}
		<div class="container">
			<div class="add_button">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalNorm">Add</button>
				<a href="#" class="pull-right hide_stuff" hide_tasks="1">Hide Complete Tasks</a>
			</div>
			<div>
				<table class="table table-hover table-bordered" id="task_table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Task</th>
							<th>Deadline</th>
							<th>Complete</th>
							<th>Actions</th>
						</tr>
					</thead>
					
					{% for x in tasks %}
						<tr id={{x.id}} complete={% if x.complete %}"1"{% else %}"0"{% endif %}>
							<td class="id_num">
								{% if x.notes %}
									<a href="#" data-toggle="tooltip" data-placement="top" title="Click to see additional notes" class="notes"># {{x.id}}</a>
								{% else %}
									# {{x.id}}
								{% endif %}
							</td>
							<td class="name">{{x.task_name}}</td>
							<td class="deadline">{% if x.deadline %}{{x.deadline|date:"d/m/Y"}}{% else %}No Date Set{% endif %}</td>
							<td>{% if x.complete %}
									<span class="glyphicon glyphicon-ok text-success"></span>
								{% else %}
									<span class="glyphicon glyphicon-remove text-danger"></span>
								{% endif %}
							</td>
							<td>
								<div>
									<a href="#" data-toggle="modal" data-target="#myModalNorm"><span class="glyphicon glyphicon-pencil text-primary action edit"></span></a>
									{% if x.complete %}
										<a href="complete_task/{{x.id}}/0"><span class="glyphicon glyphicon-remove text-danger action"></span></a>
									{% else %}
										<a href="complete_task/{{x.id}}/1"><span class="glyphicon glyphicon-ok text-success action"></span></a>
									{% endif %}
									<a href="#"><span class="glyphicon glyphicon-trash text-warning action delete"></span></a>
								</div>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>

			<!--hidden modal until "Add" is clicked-->
			<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span>
								<span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">
								New Task
							</h4>
						</div>
						
						<!-- Modal Body -->
						<div class="modal-body">
							<input type="hidden" id="task_id" name="task_id" value=""/>
							<div class="form-group">
								<label for="task_name">Task Name</label>
								<input type="text" class="form-control" id="task_name" name="task_name" placeholder="New Task" required/>
							</div>
							<div class="form-group">
								<label for="deadline">Deadline (Optional)</label>
								<input type="text" class="form-control" id="deadline" name="deadline"/>
							</div>
							<div class="form-group">
								<label for="task_notes">Notes (Optional)</label>
								<textarea class="form-control" rows="6" id="task_notes" name="task_notes"></textarea>
							</div>
							<button type="submit" class="btn btn-default" id="task_submit">Submit</button>
						</div>
					</div>
				</div>
			</div>
				 
	    </div>
	</form>
{% endblock %}